@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:ital,wght@0,400;1,900&family=Lora:ital,wght@1,600&family=Montserrat:wght@400;600&family=Quicksand:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fruktur&family=Kavoon&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
html,
body {
    height: 100%;
    font-size: 1rem;
}

h1 {
    font-size: rem;
}

.font-style-1 {
    font-family: 'Roboto', sans-serif !important;
}

.font-style-2 {
    font-family: 'Lato', sans-serif !important;
}

.font-style-3 {
    font-family: 'Lora', serif !important;
}

.font-style-4 {
    font-family: 'Montserrat', sans-serif !important;
}

.font-style-5 {
    font-family: 'Quicksand', sans-serif !important;
}

.font-style-6 {
    font-family: 'Concert One', cursive !important;
}

.font-style-7 {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.font-style-8 {
    font-family: 'Nunito', sans-serif !important;
}

.font-style-9 {
    font-family: 'Eczar', serif !important;
}

.font-style-10 {
    font-family: 'Fruktur', cursive !important;
}

.font-style-11 {
    font-family: 'Kavoon', cursive !important;
}

.font-style-12 {
    font-family: 'Varela Round', sans-serif !important;
}